<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sfcoder.mapper.ReportMapper">
    <select id="selectLastByUserIdAndTaskId" resultType="cn.sfcoder.po.Report">
        select *
        from report
        where id =
              (select id
               from (select id
                     from report
                     where userId = #{userId}
                       and taskId = #{taskId}
                     order by id desc
                         limit 1
                    ) r
              )
    </select>

</mapper>