<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sfcoder.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="cn.sfcoder.po.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="passwd" column="passwd" jdbcType="VARCHAR"/>
            <result property="salt" column="salt" jdbcType="VARCHAR"/>
            <result property="userIdentity" column="identity" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="lastLogin" column="lastLogin" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,email,passwd,
        salt,identity,name,
        ip,lastLogin
    </sql>
</mapper>
